<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<th th:include="index"></th>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <form action="/addP" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="description">Product name</label>
                        <input type="text" id="description" class="form-control" name="description" />
                        <label for="price">Product proce</label>
                        <input type="text" id="price"  class="form-control"  name="price" />
<label>Add an image</label>
                        <div class="custom-file mb-2">
                            <input name="file" type="file" class="custom-file-input" id="customFile"/>
                            <label class="custom-file-label" for="customFile">Selectionner ici la capture du dossier</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>